<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
    <ui:composition template="../templates/adminLayout.xhtml">
        <ui:define name="content">
            <h:form>
                <p:commandButton id="addArticle"
                                 value="#{msgs['Admin.btnCreateNewArticle']}"
                                 action="createArticle"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>