<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
    <ui:composition template="../templates/adminLayout.xhtml">
        <ui:define name="content">
            <h:form id="addArticleForm">
                <p:panelGrid style="width: 100%;table-layout:fixed;" layout="tabular" styleClass="noBorderSimple">
                    <p:row>
                        <p:column style="width:10%;"/>
                        <p:column style="width:60%"/>
                        <p:column style="width:30%;"/>
                    </p:row>
                    <p:row>
                        <p:column>
                            <h:outputLabel for="title"
                                           value="#{msgs['AdminCreateArticleTitle']}"
                                           style="margin-left: 5px; margin-top: 10px">
                            </h:outputLabel>
                        </p:column>
                        <p:column>
                            <p:inputText id="title"
                                         required="true"
                                         requiredMessage="#{msgs['ArticleValidation.emptyError']}"
                                         value="#{adminBean.article.title}"
                                         style="margin-top: 10px; margin-bottom: 20px"
                                         size="500">
                                <p:ajax update="titleMessage" event="keyup"/>
                            </p:inputText>
                        </p:column>
                        <p:column>
                            <p:message for="title" id="titleMessage" display="text"/>
                        </p:column>
                    </p:row>
                    <!--<p:row>-->
                    <!--<p:column></p:column>-->
                    <!--<p:column>-->
                    <!--<p:editor id="articleEditor"-->
                    <!--width="500"-->
                    <!--required="true"-->
                    <!--requiredMessage="{msgs['ArticleValidation.emptyError']}"-->
                    <!--style="margin-top: 5em; margin-bottom: 5em"-->
                    <!--value="{adminBean.article.content}">-->
                    <!--</p:editor>-->
                    <!--</p:column>-->
                    <!--<p:column>-->
                    <!--<p:message for="title" id="contentMessage" display="text"/>-->
                    <!--</p:column>-->
                    <!--</p:row>-->
                    <p:row>
                        <p:column></p:column>
                        <p:column>
                            <pe:ckEditor id="peEditor"
                                         escape="false"
                                         width="500"
                                         required="true"
                                         requiredMessage="#{msgs['ArticleValidation.emptyError']}"
                                         value="#{adminBean.article.content}">
                                        <!--<p:ajax update="contentMessage" event=""></p:ajax>-->
                            </pe:ckEditor>
                        </p:column>
                        <p:column>
                            <p:message for="peEditor" id="contentMessage" display="text"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <h:panelGrid columns="2" style="margin-top: 10px">
                    <p:commandButton id="save"
                                     value="#{msgs['Admin.btnSave']}"
                                     update=":addArticleForm, display"
                                     oncomplete="PF('submitDlg').show()"
                                     icon="ui-icon-disk"/>
                    <p:commandButton id="cancel"
                                     value="#{msgs['Admin.btnCancel']}"
                                     action="adminApplication"/>
                </h:panelGrid>

                <p:dialog header="Content"
                          widgetVar="submitDlg">
                    <h:outputText id="display"
                                  value="#{adminBean.article.content}"
                                  escape="false"/>
                    <h:panelGroup layout="block" style="text-align: right"><br/>
                        <p:commandButton value="#{msgs['DialogButton.Add']}"
                                         actionListener="#{adminBean.saveArticle}"
                                         update="addArticleForm"/>
                        <p:spacer width="20"/>
                        <p:commandButton value="#{msgs['DialogButton.Cancel']}"
                                         onclick="PF('submitDlg').hide()"/>
                    </h:panelGroup>
                </p:dialog>

            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>