<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <f:metadata>
        <f:viewParam name="id"/>
    </f:metadata>
</h:head>

<h:body>
    <ui:composition template="../templates/adminLayout.xhtml">
        <ui:define name="content">
            <ui:fragment id="errorId" rendered="#{viewArticleBean.isAbsent}">
                <h4><p:outputLabel value="#{msgs['TaskValidation.taskNotFound']}"/></h4>
                <p:commandButton id="back"
                                 value="#{msgs['AdminViewArticle.btnBackToAdmin']}"
                                 action="adminApplication"/>
            </ui:fragment>

            <h:form id="form" styleClass="block">
                <p:panelGrid style="width: 100%;table-layout:fixed;" layout="tabular" styleClass="noBorderSimple">
                    <p:row>
                        <p:column style="width:10%;"/>
                        <p:column style="width:60%"/>
                        <p:column style="width:30%;"/>
                    </p:row>
                    <p:row>
                        <p:column></p:column>
                        <p:column>
                            <h:outputText id="article"
                                          value="#{viewArticleBean.article.title}"
                                          style="margin-top: 5px; margin-left: 5px"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column></p:column>
                        <p:column>
                            <h:outputText id="content"
                                          value="#{viewArticleBean.article.content}"
                                          style="margin-left: 5px; margin-top: 5px"
                                          escape="false"
                                    />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>