<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>
    <div id="header">
        <div id="logo"></div>
    </div>
    <div id="top_nav">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
            <li>
                <p:link value="#{linksBean.linkName}" href="#{linksBean.path}" style="align:right"/>
            </li>
        </ul>

    </div>
</ui:composition>
</html>